<div class="row">
  <div class="div" *ngIf="loading">
    <div class="opacity"></div>
    <img src="../../../../assets/images/loading3.gif" class="loading" />
  </div>
  <div class="col-12">
    <h3 class="text-muted">Detalles del inventario</h3>
    <form [formGroup]="form" (ngSubmit)="onSave()" novalidate>
      <div class="form-group">
        <select class="form-control" formControlName="product_id">
          <ng-container *ngFor="let item of products">
            <option value="{{ item.id }}">
              {{ item.name }}
            </option>
          </ng-container>
        </select>
      </div>
      <div class="form-group">
        <label>Descripción</label>
        <textarea
          class="form-control"
          formControlName="description"
          rows="3"
          [ngClass]="{ 'is-invalid': submitted && f.description.errors }"
        ></textarea>
        <span
          *ngIf="submitted && f.description.errors"
          class="invalid-feedback"
        >
          <div *ngIf="f.description.invalid" class="alert alert-danger">
            La descripción del inventario es requerido
          </div>
        </span>
      </div>
      <div class="form-group">
        <label>Fecha ingreso</label>
        <input
          type="date"
          class="form-control"
          formControlName="date_start"
          autocomplete="off"
          [ngClass]="{ 'is-invalid': submitted && f.date_start.errors }"
        />
        <span *ngIf="submitted && f.date_start.errors" class="invalid-feedback">
          <div *ngIf="f.date_start.invalid" class="alert alert-danger">
            La fecha de ingreso es requerida
          </div>
        </span>
      </div>
      <div class="form-group">
        <label>Cantidad ingreso</label>
        <input
          type="number"
          class="form-control"
          formControlName="quantity_start"
          autocomplete="off"
          [ngClass]="{ 'is-invalid': submitted && f.quantity_start.errors }"
        />
        <span
          *ngIf="submitted && f.quantity_start.errors"
          class="invalid-feedback"
        >
          <div *ngIf="f.quantity_start.invalid" class="alert alert-danger">
            La cantidad de ingreso es requerida
          </div>
        </span>
      </div>
      <div class="form-group">
        <label>Precio base</label>
        <input
          type="number"
          class="form-control"
          formControlName="price_start"
          autocomplete="off"
          [ngClass]="{ 'is-invalid': submitted && f.price_start.errors }"
        />
        <span
          *ngIf="submitted && f.price_start.errors"
          class="invalid-feedback"
        >
          <div *ngIf="f.price_start.invalid" class="alert alert-danger">
            El precio es requerido
          </div>
        </span>
      </div>
      <div class="mt-5 d-flex justify-content-center">
        <button type="submit" class="btn btn-success mr-1">
          Guardar
        </button>
        <button
          class="btn btn-secondary ml-1"
          style="color: #000"
          (click)="close()"
        >
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>
