<footer class="footer">
  <div class="d-sm-flex justify-content-center justify-content-sm-between">
    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © {{ hoy | date:'yyyy' }} <a
        href="https://www.devteam.com.co/" target="_blank">Dev Team Technology S.A.S</a>. All rights reserved.</span>
    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Sistema de Gestión Farnacéutico - SIGFAR <i
        class="mdi mdi-star text-warning"></i></span>
  </div>
</footer>