<nav
  class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row"
>
  <div
    class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center"
  >
    <a class="navbar-brand brand-logo" routerLink="/dashboard">
      <img src="../../../assets/images/logo_sigafar.png" alt="logo" />
      <!-- <b style="color: #000 !important;">SIGAFAR</b> -->
    </a>
    <a class="navbar-brand brand-logo-mini" routerLink="/dashboard">
      <img src="../../../assets/images/logo_sigafar.png" alt="logo" />
      <!-- <b style="color: #000 !important;">SF</b> -->
    </a>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-center">
    <ul class="navbar-nav navbar-nav-right">
      <li
        class="nav-item dropdown"
        ngbDropdown
        style="cursor: pointer;"
        *ngIf="user.role_id == 3"
      >
        <a
          class="nav-link count-indicator dropdown-toggle"
          id="notificationDropdown"
          ngbDropdownToggle
        >
          <i class="mdi mdi mdi-cart"></i>
          <span class="count" *ngIf="exist">!</span>
        </a>
        <div
          class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
          ngbDropdownMenu
          aria-labelledby="notificationDropdown"
        >
          <a class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-success">
                <i class="mdi mdi-basket mx-0"></i>
              </div>
            </div>
            <div class="preview-item-content">
              <h6 class="preview-subject font-weight-medium">
                Acetaminofén
              </h6>
              <p class="font-weight-light small-text">
                $ 3500
              </p>
            </div>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item">
            <a
              routerLink="/orders"
              class="badge badge-pill badge-warning float-right"
              >Ver mi pedido</a
            >
          </a>
        </div>
      </li>
      <li
        class="nav-item dropdown d-none d-xl-inline-block"
        ngbDropdown
        style="cursor: pointer;"
      >
        <a class="nav-link dropdown-toggle" id="UserDropdown" ngbDropdownToggle>
          <span class="profile-text"
            >Hola, {{ user.name }} {{ user.lastname }}!</span
          >
          <img
            class="img-xs rounded-circle"
            src="assets/images/faces/perfil.jpg"
            alt="Profile image"
          />
        </a>
        <div
          class="dropdown-menu dropdown-menu-right navbar-dropdown"
          ngbDropdownMenu
          aria-labelledby="UserDropdown"
        >
          <a routerLink="/settings" class="dropdown-item mt-2 disabled">
            Ver perfil
          </a>
          <a routerLink="/settings" class="dropdown-item disabled">
            Editar perfil
          </a>
          <a (click)="logout()" class="dropdown-item">
            Cerrar sesión
          </a>
        </div>
      </li>
    </ul>
    <button
      class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"
      type="button"
      (click)="toggleOffcanvas()"
    >
      <span class="mdi mdi-menu"></span>
    </button>
  </div>
</nav>
