<div class="row">
  <div class="div" *ngIf="loading">
    <div class="opacity"></div>
    <img src="../../../../assets/images/loading3.gif" class="loading" />
  </div>
  <div class="col-12">
    <h3 class="text-muted">Datos de usuario</h3>
    <form [formGroup]="form" (ngSubmit)="onSave()" novalidate>
      <div class="form-group">
        <label>Nombre del usuario</label>
        <input
          type="text"
          class="form-control"
          formControlName="name"
          autocomplete="off"
          [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
        />
        <span *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.invalid" class="alert alert-danger">
            El nombre del usuario es requerido
          </div>
        </span>
      </div>
      <div class="form-group">
        <label>Apellidos del usuario</label>
        <input
          type="text"
          class="form-control"
          formControlName="lastname"
          autocomplete="off"
          [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }"
        />
        <span *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
          <div *ngIf="f.lastname.invalid" class="alert alert-danger">
            Los apellidos del usuario son requerido
          </div>
        </span>
      </div>
      <div class="form-group" *ngIf="!visible">
        <label>Contraseña</label>
        <input
          type="text"
          class="form-control"
          formControlName="password"
          autocomplete="off"
          [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
        />
        <span *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.invalid" class="alert alert-danger">
            La contraseña del usuario es requerida
          </div>
        </span>
      </div>
      <div class="form-group">
        <label>Rol del usuario</label>
        <select class="form-control" formControlName="role_id">
          <option *ngFor="let rol of roles" value="{{ rol.id }}">{{
            rol.description
          }}</option>
        </select>
      </div>
      <div class="form-group">
        <label>Correo electrónico</label>
        <input
          type="text"
          class="form-control"
          formControlName="email"
          autocomplete="off"
          [email]="true"
          [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
        />
        <span *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.invalid" class="alert alert-danger">
            El correo es requerido
          </div>
        </span>
      </div>
      <div class="form-group">
        <label>Dirección</label>
        <input
          type="text"
          class="form-control"
          formControlName="address"
          autocomplete="off"
          [ngClass]="{ 'is-invalid': submitted && f.address.errors }"
        />
        <span *ngIf="submitted && f.address.errors" class="invalid-feedback">
          <div *ngIf="f.address.invalid" class="alert alert-danger">
            La dirección es requerida
          </div>
        </span>
      </div>
      <div class="form-group">
        <label>Teléfono</label>
        <input
          type="text"
          class="form-control"
          formControlName="phone"
          autocomplete="off"
          [ngClass]="{ 'is-invalid': submitted && f.phone.errors }"
        />
        <span *ngIf="submitted && f.phone.errors" class="invalid-feedback">
          <div *ngIf="f.phone.invalid" class="alert alert-danger">
            El teléfono es requerido
          </div>
        </span>
      </div>
      <div class="form-group" *ngIf="visible">
        Estado:
        <mat-slide-toggle
          class="ml-5"
          formControlName="status"
        ></mat-slide-toggle>
      </div>
      <div class="mt-5 d-flex justify-content-center">
        <button type="submit" class="btn btn-success mr-1">
          Guardar
        </button>
        <button
          class="btn btn-secondary ml-1"
          style="color: #000"
          (click)="close()"
        >
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>
