<div class="row">
  <div class="div" *ngIf="loading">
    <div class="opacity"></div>
    <img src="../../../../assets/images/loading3.gif" class="loading" />
  </div>
  <div class="col-12">
    <h3 class="text-muted">Datos del permiso</h3>
    <form
      [formGroup]="form"
      (ngSubmit)="onSave()"
      novalidate
      *ngIf="user.role_id == 2"
    >
      <div class="form-group">
        <label>Tipo de permiso</label>
        <select class="form-control"
        formControlName="type">
        <option value="">Seleccione el tipo de permiso</option>
        <option value="normal">Normal</option>
        <option value="urgente">Urgente</option>
      </select>
        <span *ngIf="submitted && f.type.errors" class="invalid-feedback">
          <div *ngIf="f.type.invalid" class="alert alert-danger">
            El tipo de permiso es requerido
          </div>
        </span>
      </div>
      <div class="form-group">
        <label>Descripción</label>
        <textarea
          class="form-control"
          formControlName="description"
          rows="10"
          style="resize: none;"
          [ngClass]="{ 'is-invalid': submitted && f.description.errors }"
        ></textarea>
        <span
          *ngIf="submitted && f.description.errors"
          class="invalid-feedback"
        >
          <div *ngIf="f.description.invalid" class="alert alert-danger">
            La descripción del producto es requerido
          </div>
        </span>
      </div>
      <div class="form-group">
        <label>Fecha</label>
        <div class="col-12">
          <my-date-range-picker
            class="mydpr"
            [options]="myDateRangePickerOptions"
            formControlName="dateOfService"
            [ngClass]="{
              'is-invalid': submitted && f.dateOfService.errors
            }"
            placement="right"
            ngbTooltip="Click para desplegar calendario"
          ></my-date-range-picker>
        </div>
        <span
          *ngIf="submitted && f.dateOfService.errors"
          class="invalid-feedback"
        >
          <div *ngIf="f.dateOfService.invalid" class="alert alert-danger">
            El fecha es requerida
          </div>
        </span>
      </div>
      <div class="mt-5 d-flex justify-content-center">
        <button type="submit" class="btn btn-success mr-1">
          Guardar
        </button>

        <button
          class="btn btn-secondary ml-1"
          style="color: #000"
          (click)="close()"
        >
          Cancelar
        </button>
      </div>
    </form>

    <form
      [formGroup]="form"
      (ngSubmit)="acceptDenyPermission()"
      novalidate
      *ngIf="user.role_id == 1"
    >
      <p class="mt-4 mb-4">
        Autorice o desautorice las solicitudes de permisos generada por los
        usuarios tipo <b>Empleado</b>.
      </p>
      <div class="form-group">
        <label>Descripción</label>
        <input
          type="text"
          class="form-control"
          formControlName="description"
          value="description"
          disabled
        />
      </div>
      <div class="form-group ">
        Estado:
        <mat-slide-toggle
          class="ml-3"
          formControlName="status"
        ></mat-slide-toggle>
      </div>
      <div class="mt-5 d-flex justify-content-center">
        <button type="submit" class="btn btn-success mr-1">
          Guardar
        </button>

        <button
          class="btn btn-secondary ml-1"
          style="color: #000"
          (click)="close()"
        >
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>
