<div class="row">
  <div class="div" *ngIf="loading">
    <div class="opacity"></div>
    <img src="../../../../assets/images/loading3.gif" class="loading" />
  </div>
  <div class="col-12">
    <h3 class="text-muted">Datos del producto</h3>
    <form [formGroup]="form" (ngSubmit)="onSave()" novalidate>
      <div class="form-group">
        <label>Nombre del producto</label>
        <input
          type="text"
          class="form-control"
          formControlName="name"
          autocomplete="off"
          [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
        />
        <span *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.invalid" class="alert alert-danger">
            El nombre del producto es requerido
          </div>
        </span>
      </div>
      <div class="form-group">
        <label>Descripción</label>
        <textarea
          formControlName="description"
          class="form-control"
          rows="4"
          [ngClass]="{ 'is-invalid': submitted && f.description.errors }"
          style="resize: none;"
        ></textarea>
        <span
          *ngIf="submitted && f.description.errors"
          class="invalid-feedback"
        >
          <div *ngIf="f.description.invalid" class="alert alert-danger">
            La descripción del producto es requerido
          </div>
        </span>
      </div>
      <div class="form-group">
        <label>Registro sanitario</label>
        <input
          type="text"
          class="form-control"
          formControlName="health_registration"
          autocomplete="off"
          [ngClass]="{
            'is-invalid': submitted && f.health_registration.errors
          }"
        />
        <span
          *ngIf="submitted && f.health_registration.errors"
          class="invalid-feedback"
        >
          <div *ngIf="f.health_registration.invalid" class="alert alert-danger">
            El registro sanitario es requerido
          </div>
        </span>
      </div>
      <div class="form-group">
        <label>Fecha de expedición</label>
        <div class="col-12">
          <my-date-picker
            class="mydpr"
            [options]="myDatePickerOptions"
            formControlName="date_dispatch"
            [ngClass]="{
              'is-invalid': submitted && f.date_dispatch.errors
            }"
            placement="right"
            ngbTooltip="Click para desplegar calendario"
          ></my-date-picker>
        </div>
        <span
          *ngIf="submitted && f.date_dispatch.errors"
          class="invalid-feedback"
        >
          <div *ngIf="f.date_dispatch.invalid" class="alert alert-danger">
            La fecha de expedición es requerida
          </div>
        </span>
      </div>
      <div class="form-group">
        <label>Fecha de expiración</label>
        <div class="col-12">
          <my-date-picker
            class="mydpr"
            [options]="myDatePickerOptions"
            formControlName="expiration_date"
            [ngClass]="{
              'is-invalid': submitted && f.expiration_date.errors
            }"
            placement="right"
            ngbTooltip="Click para desplegar calendario"
          ></my-date-picker>
        </div>
        <span
          *ngIf="submitted && f.expiration_date.errors"
          class="invalid-feedback"
        >
          <div *ngIf="f.expiration_date.invalid" class="alert alert-danger">
            La fecha de expiración es requerida
          </div>
        </span>
      </div>
      <div class="form-group">
        <label>Unidad</label>
        <select
          class="form-control"
          formControlName="unity"
          [ngClass]="{ 'is-invalid': submitted && f.unity.errors }"
        >
          <option value="">Seleccione la unidad del producto</option>
          <option value="mg">mg</option>
          <option value="g">g</option>
          <option value="ml">ml</option>
          ></select
        >
        <span *ngIf="submitted && f.unity.errors" class="invalid-feedback">
          <div *ngIf="f.unity.invalid" class="alert alert-danger">
            La unidad es requerida
          </div>
        </span>
      </div>
      <div class="form-group">
        <label>Vía administración</label>
        <select
          class="form-control"
          formControlName="via_administration"
          [ngClass]="{ 'is-invalid': submitted && f.via_administration.errors }"
        >
          <option value="">Seleccione vía de administración</option>
          <option value="oral">Oral</option>
          <option value="sublingual">Sublingual</option>
          <option value="inyeccion">Inyección</option>
          <option value="nasal">Nasal</option>
          <option value="conjuntival">Conjuntival</option>
          <option value="vaginal">Vaginal</option>
          <option value="uretral">Uretral</option>
          <option value="colon">Colon</option>
          <option value="vejiga">Vejiga</option>
          <option value="rectal">Rectal</option>
        </select>
        <span
          *ngIf="submitted && f.via_administration.errors"
          class="invalid-feedback"
        >
          <div *ngIf="f.via_administration.invalid" class="alert alert-danger">
            La vía de administración es requerida
          </div>
        </span>
      </div>
      <div class="form-group">
        <label>Concentración</label>
        <input
          type="text"
          class="form-control"
          formControlName="concentration"
          autocomplete="off"
          [ngClass]="{ 'is-invalid': submitted && f.concentration.errors }"
        />
        <span
          *ngIf="submitted && f.concentration.errors"
          class="invalid-feedback"
        >
          <div *ngIf="f.concentration.invalid" class="alert alert-danger">
            La concentración es requerida
          </div>
        </span>
      </div>
      <div class="form-group">
        <label>Forma farmacéutica</label>
        <select
          class="form-control"
          formControlName="pharmaceutical_form"
          [ngClass]="{
            'is-invalid': submitted && f.pharmaceutical_form.errors
          }"
        >
          <option value="">Seleccione una forma farmacéutica</option>
          <option value="aerosol">Aerosol</option>
          <option value="ampolleta">Ampolleta</option>
          <option value="caja">Caja</option>
          <option value="pastilla">Pastilla</option>
          <option value="capsula">Cápsula</option>
          <option value="crema">Crema</option>
          <option value="emulsion">Emulsión</option>
          <option value="espuma">Espuma</option>
          <option value="gragea">Gragea</option>
          <option value="ovulos">Óvulo</option>
          <option value="perla">Perla</option>
          <option value="gotas">Gotas</option>
          <option value="suspension">Suspensión</option>
          <option value="solucion">Solución</option>
        </select>
        <span
          *ngIf="submitted && f.pharmaceutical_form.errors"
          class="invalid-feedback"
        >
          <div *ngIf="f.pharmaceutical_form.invalid" class="alert alert-danger">
            La forma farmacéutica es requerida
          </div>
        </span>
      </div>
      <div *ngIf="!id">
        <hr />
        Datos de ingreso *
        <div class="form-group">
          <label>Cantidad</label>
          <input
            type="number"
            class="form-control"
            formControlName="quantity_start"
            autocomplete="off"
          />
        </div>
        <div class="form-group">
          <label>Precio</label>
          <input
            type="number"
            class="form-control"
            formControlName="price_start"
            autocomplete="off"
          />
        </div>
      </div>

      <div class="form-group" *ngIf="visible">
        Estado:
        <mat-slide-toggle
          class="ml-5"
          formControlName="status"
        ></mat-slide-toggle>
      </div>
      <div class="mt-5 d-flex justify-content-center">
        <button type="submit" class="btn btn-success mr-1">
          Guardar
        </button>
        <button
          class="btn btn-secondary ml-1"
          style="color: #000"
          (click)="close()"
        >
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>
