<div class="col-lg-12 grid-margin stretch-card" *ngIf="user.role_id == 1">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title text-primary">Horarios</h1>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb bg-light">
          <li class="breadcrumb-item"><a routerLink="/dashboard">Inicio</a></li>
          <li class="breadcrumb-item active" aria-current="page">horarios</li>
        </ol>
      </nav>
      <div class="row">
        <div class="col-8" style="border-right: 1px dotted gray;">
          <div>
            <p>
              Creación de nuevos horarios para todos los empleados.
            </p>
          </div>
          <div class="mt-5 mb-4">
            <button class="btn btn-success" (click)="create()">
              <i class="mdi mdi-plus"></i> Agregar
            </button>
          </div>
          <div class="table-responsive">
            <ag-grid-angular
              style="height: 55vh;"
              class="ag-theme-bootstrap"
              [rowData]="schedules"
              [gridOptions]="gridSchedule"
              [overlayLoadingTemplate]="overlayLoadingTemplate"
              (cellClicked)="setSelected($event)"
            >
            </ag-grid-angular>
          </div>
        </div>
        <div class="col-4">
          <h1 class="text-muted mt-5 text-center" *ngIf="!showCreate">
            <i class="mdi mdi-arrow-left"></i> Clic para ver más
          </h1>
          <app-schedule-crud
            [id]="id"
            (closeCreate)="closeCreate()"
            *ngIf="showCreate"
          ></app-schedule-crud>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-lg-12 grid-margin stretch-card" *ngIf="user.role_id == 2">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title text-primary">Horarios</h1>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb bg-light">
          <li class="breadcrumb-item"><a routerLink="/dashboard">Inicio</a></li>
          <li class="breadcrumb-item active" aria-current="page">horarios</li>
        </ol>
      </nav>
      <div class="row">
        <div class="col-12" style="border-right: 1px dotted gray;">
          <div>
            <p>
              Visualización de mi horario.
            </p>
          </div>
          <div class="table-responsive">
            <ag-grid-angular
              style="height: 55vh;"
              class="ag-theme-bootstrap"
              [rowData]="schedules"
              [gridOptions]="gridSchedule"
              [overlayLoadingTemplate]="overlayLoadingTemplate"
            >
            </ag-grid-angular>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
