<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{ title }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="newDiezmoModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #newDiezmoForm="ngForm">
            <div class="form-group row" style="font-size: 12px;">
                <label class="col-sm-3 col-form-label">Fecha </label>
                <div class="col-sm-9">
                    <label class="col-sm-9 col-form-label">{{ hoy | date: 'MMMM d y, h:mm a' | titlecase }}</label>
                </div>
            </div>
            <div class="form-group row">
                <label for="dni" class="col-sm-3 col-form-label">Identificación <span class="asterisco">*</span></label>
                <div class="col-sm-9">
                    <input id="dni" type="number" class="form-control" ngbAutofocus [(ngModel)]="diezmoDataCopy.dni"
                        name="dni" placeholder="Ingrese el número de identificación" autocomplete="off">
                </div>
            </div>
            <div class="form-group row">
                <label for="nombres" class="col-sm-3 col-form-label">Nombre completo</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control-plaintext" id="nombres" readonly autocomplete="off">
                </div>
            </div>
            <div class="form-group row">
                <label for="servicio" class="col-sm-3 col-form-label">Servicio <span class="asterisco">*</span></label>
                <div class="col-sm-9">
                    <select class="form-control" id="servicio" [(ngModel)]="diezmoDataCopy.service" name="service">
                        <option value="0">Seleccione el servicio</option>
                        <option value="1">Ayuno congregacional</option>
                        <option value="2">Servicio de oración</option>
                        <option value="3">Servicio de enseñanza</option>
                        <option value="4">Servicio evangelístico</option>
                        <option value="5">Servicio de jóvenes</option>
                        <option value="6">Servicio especial</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="diezmo" class="col-sm-3 col-form-label">Valor <span class="asterisco">*</span></label>
                <div class="col-sm-9">
                    <input id="diezmo" type="number" class="form-control" ngbAutofocus
                        [(ngModel)]="diezmoDataCopy.amount" name="amount" placeholder="Ingrese el valor del diezmo"
                        autocomplete="off">
                </div>
            </div>
            <div class="form-group row">
                <label for="description" class="col-sm-3 col-form-label">Datos adicionales</label>
                <div class="col-sm-9"><textarea class="form-control" id="description" rows="4"
                        [(ngModel)]="diezmoDataCopy.description" name="description"
                        placeholder="Escriba datos adicionales..."></textarea></div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="onSave()">Guardar</button>
    </div>
</div>