<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <div class="nav-link">
        <div class="user-wrapper">
          <div class="profile-image">
            <img src="assets/images/faces/perfil.jpg" alt="profile image" />
          </div>
          <div class="text-wrapper mb-4">
            <p class="profile-name">{{ user.name }} {{ user.lastname }}</p>
            <div>
              <small class="designation text-muted" *ngIf="user.role_id == 1">Super Admin</small>
              <small class="designation text-muted" *ngIf="user.role_id == 2">Empleado</small>
              <small class="designation text-muted" *ngIf="user.role_id == 3">Cliente</small>
              <span class="status-indicator online"></span>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
        <i class="menu-icon mdi mdi-view-dashboard"></i>
        <span class="menu-title">Inicio</span>
      </a>
    </li>
    <li class="nav-item" *ngIf="user.role_id == 1">
      <a class="nav-link" routerLink="/users" routerLinkActive="active">
        <i class="menu-icon mdi mdi-account-group"></i>
        <span class="menu-title">Usuarios</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/products" routerLinkActive="active">
        <i class="menu-icon mdi mdi-medical-bag"></i>
        <span class="menu-title">Productos</span>
      </a>
    </li>
    <li class="nav-item" *ngIf="user.role_id == 1 || user.role_id == 2">
      <a class="nav-link" routerLink="/schedules" routerLinkActive="active">
        <i class="menu-icon mdi mdi-calendar"></i>
        <span class="menu-title">Horarios</span>
      </a>
    </li>
    <li class="nav-item" *ngIf="user.role_id == 1 || user.role_id == 2">
      <a class="nav-link" routerLink="/permissions" routerLinkActive="active">
        <i class="menu-icon mdi mdi-account-child"></i>
        <span class="menu-title">Permisos</span>
      </a>
    </li>
    <li class="nav-item" *ngIf="user.role_id == 1 || user.role_id == 2">
      <a
        class="nav-link disabled"
        routerLink="/suppliers"
        routerLinkActive="active"
      >
        <i class="menu-icon mdi mdi-account-supervisor"></i>
        <span class="menu-title">Proveedores</span>
      </a>
    </li>
    <li class="nav-item" *ngIf="user.role_id == 1">
      <a
        class="nav-link disabled"
        routerLink="/inventory"
        routerLinkActive="active"
      >
        <i class="menu-icon mdi mdi-database"></i>
        <span class="menu-title">Inventario</span>
      </a>
    </li>
    <li class="nav-item" *ngIf="user.role_id == 1">
      <a
        class="nav-link disabled"
        routerLink="/reports"
        routerLinkActive="active"
      >
        <i class="menu-icon mdi mdi-chart-areaspline"></i>
        <span class="menu-title">Informes</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link disabled"
        routerLink="/settings"
        routerLinkActive="active"
      >
        <i class="menu-icon mdi mdi-cogs"></i>
        <span class="menu-title">Ajustes</span>
      </a>
    </li>
  </ul>
</nav>
